body {
  background-color: #fff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-decoration: none;
  text-transform: normal;
  color: #212121;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.16;
    text-decoration: none;
    text-transform: normal;
    color: #212121;
    margin-bottom: 50px;
  }
}

.item-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .item-set {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*  


.flex-center {
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex-start {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: $card-set-gap;
}
.flex-baseline {
    display:flex;
    align-items: baseline;
}
.section {
    padding-top:94px;
    padding-bottom:94px;
}
.section--gray {
    background-color: $primary-background-color;
}


*/
.page-header {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    height: 80px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    width: 1200px;
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
}

.logo--lightback {
  color: black;
}

.logo--darkback {
  color: white;
}

.logo--left {
  margin-right: 94px;
}

.menu-btn,
.close-menu-btn {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn,
.close-menu-btn {
    display: none;
  }
}

.menu-btn__icon,
.close-menu-btn__icon {
  width: 40px;
  height: 40px;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .controls {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    padding: 48px 40px;
  }
  .controls:not(.is-open) {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: min(6.66vw, 32px);
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-bottom: 0;
  }
}

.menu__link {
  position: relative;
  font-weight: 500;
  font-size: min(9vw, 40px);
  letter-spacing: 0.02em;
  line-height: 1.17;
  text-decoration: none;
  text-transform: none;
  color: #212121;
  padding: 0;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    text-transform: none;
    color: #212121;
  }
}
.menu__link--current, .menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu__link--current::after {
    -webkit-transform: translateY(32px);
            transform: translateY(32px);
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
  gap: min(6.66vw, 32px);
}
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.06;
  text-decoration: none;
  text-transform: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__link--phone {
    font-weight: 500;
    font-size: min(7vw, 34px);
    letter-spacing: 0.02em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    color: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--email {
    font-weight: 500;
    font-size: min(5vw, 24px);
    letter-spacing: 0.02em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    color: #757575;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.contacts__icon--email {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
@media screen and (min-width: 768px) {
  .social-networks {
    display: none;
  }
}

.social-networks__item {
  padding: 0 10px;
}

.social-networks__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-networks__link {
  font-weight: 500;
  font-size: min(3.5vw, 18px);
  letter-spacing: 0.02em;
  line-height: 1.22;
  text-decoration: none;
  text-transform: none;
  color: #2196f3;
}

.activities {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}

.activity-card {
  position: relative;
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.activity-card__title {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-phone.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-phone.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-phone@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-phone@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-desk.jpg);
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img-desk@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-desk@2x.jpg);
  }
}

.hero__content {
  width: 360px;
  text-align: center;
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .hero__content {
    width: 694px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.button {
  color: #fff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.87;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.advantage-card {
  margin: 15px;
}
.advantage-card::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage-card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage-card {
    width: calc((100% - 120px) / 4);
  }
}

.advantage-card__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  margin: 0 0 10px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage-card__title {
    text-align: left;
  }
}

.advantage-card__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
  text-transform: none;
  color: #757575;
  margin: 0;
}

.icon-attention::before {
  background-image: url(../images/antenna.svg);
}

.icon-punctuality::before {
  background-image: url(../images/clock.svg);
}

.icon-planning::before {
  background-image: url(../images/diagram.svg);
}

.icon-technologies::before {
  background-image: url(../images/astronaut.svg);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-member {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 120px) / 4);
  }
}

.team-member__info {
  padding: 30px;
  text-align: center;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  text-transform: none;
  color: #212121;
  margin: 0 0 10px 0;
}

.team-member__position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  text-decoration: none;
  text-transform: none;
  color: #757575;
  margin: 0 0 16px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover, .social__item:focus {
  background-color: #2196f3;
  color: #FFF;
}

.social__item--darkback {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFF;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94;
  }
}

.clients-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
}
.client-card:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.client-card__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 70px;
  }
}

.footer__address,
.footer__social,
.footer__subscription {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address,
.footer__social,
.footer__subscription {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address,
.footer__social,
.footer__subscription {
    text-align: left;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.contact-info {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .contact-info {
    text-align: left;
  }
}

.contact-info__text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-decoration: none;
  text-transform: none;
  color: white;
  margin-bottom: 8px;
  display: block;
}

.contact-info__text--gray {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-header-footer-color);
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: white;
  outline: none;
  -webkit-transition: border-color 250ms var(--time-function);
  transition: border-color 250ms var(--time-function);
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
}
.subscribe-form__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: calc(100% - 30px);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__close:hover .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: black;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form {
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 350px) {
  .application-form {
    padding: 20px;
  }
}

.application-form__title {
  padding: 0;
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-decoration: none;
  text-transform: none;
  color: #212121;
  text-align: center;
}
@media screen and (max-width: 350px) {
  .application-form__title {
    font-size: 16px;
    margin: 0 0 8px 0;
  }
}

.application-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.application-form__label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  text-decoration: none;
  text-transform: none;
  color: #757575;
  margin-bottom: 4px;
  text-align: left;
}

.application-form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  margin-bottom: 10px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.application-form__input:focus {
  border-color: #2196f3;
}

.application-form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.application-form__textarea::-webkit-input-placeholder {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.application-form__textarea::-moz-placeholder {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.application-form__textarea:-ms-input-placeholder {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.application-form__textarea::-ms-input-placeholder {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.application-form__textarea::placeholder {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.application-form__textarea:focus {
  border-color: #2196f3;
}

.application-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (min-width: 1200px) {
  .application-form__confirm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 350px) {
  .application-form__confirm {
    margin-bottom: 20px;
  }
}

.application-form__confirm-text {
  cursor: pointer;
}

.application-form__confirm-text,
.application-form__terms {
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .application-form__confirm-text,
.application-form__terms {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .application-form__confirm-text,
.application-form__terms {
    line-height: 15px;
  }
}

.application-form__terms {
  color: #2196f3;
}

.application-form__checkbox {
  border: 2px solid #212121;
  background-color: #fff;
  border-radius: 2px;
  display: block;
  width: 16px;
  height: 15px;
}

.application-form__native_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.application-form__native_checkbox:checked + .application-form__checkbox-outline > .application-form__checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: cover;
  background-origin: border-box;
}
.application-form__native_checkbox:focus + .application-form__checkbox-outline {
  background-color: black;
}

.application-form__checkbox-outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 20px;
  height: 19px;
  border-radius: 4px;
  margin-right: 8px;
}

.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  background-color: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.63;
  text-decoration: none;
  text-transform: none;
  color: #212121;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button--current {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-item {
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: 370px;
  }
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-card:hover .portfolio-card__description, .portfolio-card:focus .portfolio-card__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-card__picture {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-card__content {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  text-decoration: none;
  text-transform: none;
  color: #212121;
  margin: 0 0 4px 0;
}

.portfolio-card__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  text-decoration: none;
  text-transform: none;
  color: #757575;
  margin: 0;
}

.portfolio-card__description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: min(4.5vw, 18px);
  letter-spacing: 0.03em;
  line-height: 1.55;
  text-decoration: none;
  text-transform: none;
  color: #fff;
}/*# sourceMappingURL=main.css.map */