.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:$desktop) {
        padding-top:94px;
        padding-bottom:94;
      }
}
.clients-set {
    display:flex;
    //flex-direction: row;
    flex-wrap:wrap;
    margin:-15px;
  }
.clients-item {
    width: calc((100% - 4 * 15px)/2);
    height: 92px;
    @media screen and (min-width:$tablet) {
        width:calc((100% - 6 * 15px)/3);
      }
      @media screen and (min-width:$desktop) {
        width:calc((100% - 12 * 15px)/6);
    }
    margin: 15px;
}
.client-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border 250ms $time-function,
              color 250ms $time-function;
    
    height:100%;
    &:hover {
        border: 1px solid $accent-color;
        color: $accent-color;
    }
}

.client-card__icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
}