.portfolio{
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width:$desktop) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 40px;
    @media screen and (min-width:$tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width:$desktop) {
        margin-bottom: 50px;
    }
}
.filters__button {
    background-color: $filter-unactive-background;
    padding: 6px 22px;
    @include font(500, 16px, 0.03em, 1.63, none, none, $title-and-nav-text-color);
    border: none;
    transition: color 250ms $time-function, background-color 250ms $time-function, box-shadow 250ms $time-function;

    &:hover,
    &--current {
        color: $button-text-color;
        background-color: $accent-color;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 8%), 0 3px 1px rgb(0 0 0 / 10%);
    }
}
.portfolio-item {
    margin:15px;
    @media screen and (min-width:$tablet) {
        width:354px;
      }
      @media screen and (min-width:$desktop) {
        width:370px;
      }
  }
.portfolio-card{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    transition: box-shadow 250ms $time-function;
    text-decoration: none;

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgb(0 0 0 / 16%), 0 4px 4px rgb(0 0 0 / 6%), 0 1px 1px rgb(0 0 0 / 12%);
    }
    &:hover .portfolio-card__description,
    &:focus .portfolio-card__description {
        transform: translateY(0);
    }
}
.portfolio-card__picture {
    display: block;
    position: relative;
    overflow: hidden;
}
.card__picture{
    //min-height: 294px;
}
.portfolio-card__content {
    padding: 20px 24px;
    flex-grow: 1;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.portfolio-card__title {
    @include font(700, 18px, 0.06em, 2, none, none, $title-and-nav-text-color);
    margin: 0 0 4px 0;
}
.portfolio-card__text {
    @include font(400, 16px, 0.03em, 1.88, none, none, $primary-text-color);
    margin: 0;
}
.portfolio-card__description{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 24px;
    display: flex;
    align-items: center;
    transform: translateY(101%);
    transition: transform 250ms $time-function;

    @include font(400, min(4.5vw, 18px), 0.03em, 1.55, none, none, #fff);
}